/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    display: flex;
    flex-direction: column;
    gap: var(--common-gap);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--background-color);
}

.part_common {
    padding-inline-start: var(--common-padding);
    padding-inline-end: var(--common-padding);
}

.title-screen {
    block-size: 100vb;
    min-block-size: var(--title-screen-min-block-size);
}

.angle-decoration {
    position: relative;
}

.angle-decoration::before {
    content: '';
    position: absolute;
    top: var(--common-padding);
    right: var(--common-padding);
    block-size: 25px;
    inline-size: 25px;
    border-block-start: 1px solid var(--primary-theme-color);
    border-inline-end: 1px solid var(--primary-theme-color);
}

.angle-decoration::after {
    content: '';
    position: absolute;
    bottom: var(--common-padding);
    left: var(--common-padding);
    block-size: 25px;
    inline-size: 25px;
    border-block-end: 1px solid var(--primary-theme-color);
    border-inline-start: 1px solid var(--primary-theme-color);
}

.rec-decoration {
    display: var(--rec-decoration-display);
    align-items: center;
    gap: 10px;
    block-size: 25px;
    position: absolute;
    right: var(--common-padding);
    top: var(--common-padding);
    font-family: 'IBM Plex mono', 'monospace';
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-theme-color);
}

.rec-decoration::after {
    content: '';
    margin-inline-end: 9px;
    block-size: 9px;
    inline-size: 9px;
    background-color: var(--primary-theme-color);
    box-shadow: 0 0 4px 2px var(--primary-theme-color);
    border-radius: 50%;
}

.header {
    position: relative;
    padding-block-start: var(--common-padding);
    padding-block-end: var(--common-padding);
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
}

.header__menu {
    align-self: var(--header__menu-align-self);
}

.header__menu-list {
    display: flex;
    flex-direction: var(--header__menu-list-flex-direction);
    justify-content: center;
    align-items: var(--header__menu-list-align-items);
    gap: 10px;
}

.header__theme-menu-button {
    cursor: pointer;
    inline-size: 70px;
    padding-block-end: 5px; /* Hack for centering lowercase text. */
    font-family: 'IBM Plex mono', 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: var(--menu-element-color);
    text-transform: lowercase;
    background: none;
    border: 1px solid transparent;
}

.header__theme-menu-button:hover {
    border-color: var(--menu-element-color-hover);
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-block-end-color: var(--menu-element-color);
}

.header__theme-menu-button_active {
    border-color: var(--menu-element-color);
    pointer-events: none;
}

.title {
    font-family: 'IBM Plex mono', 'sans-serif';
    font-weight: 700;
    font-size: var(--title-font-size);
    line-height: 0.83;
    color: var(--title-theme-color);
    text-shadow: 4px 4px 0 var(--primary-theme-color);
}

.header__title {
    position: var(--header__title-position);
    left: var(--header__title-left);
}

.article-title {
    background-color: var(--primary-theme-color);
    font-family: 'IBM Plex mono', 'sans-serif';
    font-weight: 700;
    font-size: 18px;
    color: var(--article-font-color);
    line-height: 1.3;

}

.header__epigraph {
    inline-size: var(--header__epigraph-inline-size);
    justify-self: end;
    align-self: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.main__section {
    display: grid;
    grid-template-columns: var(--main__section-grid-template-columns);
    gap: 20px;
}

.section__article {
    gap: 20px;
}

.section__question-side {
    grid-column: var(--section__question-side-grid-column);
    display: grid;
    grid-template-columns: var(--section__question-side-grid-template-columns);
}

.section__article-side {
    grid-column: var(--section__article-side-grid-column);
    display: grid;
    grid-template-columns: var(--section__article-side-grid-template-columns);
}

.section__question-top {
    grid-column: var(--section__question-top-grid-column);
    display: grid;
    grid-template-columns: var(--section__question-top-grid-template-columns);
}

.section__article-top {
    grid-column: var(--section__article-top-grid-column);
    display: grid;
    grid-template-columns: var(--section__article-top-grid-template-columns);
}

.article-title-inverted {
    font-family: 'IBM Plex mono', 'sans-serif';
    font-weight: 700;
    font-size: 18px;
    color: var(--article-title-inverted-color);
    line-height: 1.3;
}

.article-title-light {
    font-weight: 400;
}

.article-main {
    margin-top: 10px;
    font-family: 'IBM Plex mono', 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    color: var(--article-main-color);
    line-height: 1.3;
}

.article-link {
    text-shadow: 2px 2px 0 var(--primary-theme-color);
    text-decoration: none;
}

.article-link:hover {
    border-bottom: 1px solid var(--common-text-color);
}

.article-link:focus-visible {
    outline: 1px solid var(--common-text-color);
}

.section__gallery {
    grid-column: var(--section__gallery-grid-column);
    display: grid;
    grid-template-columns: 1fr
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__image-wide {
    grid-column: var(--gallery__image-wide-grid-column);
}

.gallery__image-tall {
    grid-row: var(--gallery__image-tall-grid-column);
}

.footer {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

@media(768px <= width < 1024px) {
    :root {
        --title-screen-min-block-size: 1024px;

        --header__menu-align-self: center;
        --header__menu-list-flex-direction: column;
        --header__menu-list-align-items: end;

        --section__article-top-grid-column: span 3;
        --section__article-top-grid-template-columns: 1fr;
    }
}

@media(width < 768px) {
    :root {
        --common-padding: 10px;
        --common-gap: 40px;

        --title-screen-min-block-size: 668px;

        --header__menu-align-self: center;
        --header__menu-list-flex-direction: column;
        --header__menu-list-align-items: end;

        --header__epigraph-inline-size: none;

        --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        --header__title-position: none;

        --main-gap: 50px;

        --main__section-grid-template-columns: 1fr;
        --section__article-side-grid-column: span 1;
        --section__question-top-grid-column: span 1;
        --section__question-top-grid-template-columns: 1fr;
        --section__article-top-grid-column: span 1;
        --section__article-top-grid-template-columns: auto;

        --section__gallery-grid-column: auto;
        --gallery__image-wide-grid-column: auto;
        --gallery__image-tall-grid-column: auto;
    }

    .main__section-gallery {
        gap: 10px;
    }
}
