/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    /* Палитра */
    --primary-theme-color: #FF0070;
    --primary-theme-color-rgb: 255 0 112;
    --title-theme-color: #DB00FF;
    --common-text-color: #F1B2CE;
    --secondary-theme-color: #000028;

    /* Задник */
    --background-image: url(../images/cover-image-dark.png);
    --background-color: var(--secondary-theme-color);

    /* Общие настройки страницы */
    --common-padding: 20px;
    --common-gap: 60px;

    /* Титульные подстраницы */
    --title-screen-min-block-size: 768px;

    /* Настройки элементов меню */
    --menu-element-color: var(--primary-theme-color);
    --menu-element-color-hover: rgb(var(--primary-theme-color-rgb) / 0.4);

    /* Настройки эпиграфа */
    --header__epigraph-inline-size: 50%;

    /* Настройки заголовков статей */
    --article-font-color: var(--secondary-theme-color);

    /* Настройки main части */
    --main-gap: 80px;

    /* Настройки разделов основной части */
    --main__section-grid-template-columns: 1fr 1fr 1fr;
    --section__block-wide-size: span 2;
    --section__block-tall-size: span 2;

    /* Настройки инвертированных заголовков */
    --article-title-inverted-color: var(--primary-theme-color);

    /* Настройки статей */
    --article-main-color: var(--common-text-color);
}