/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    /* Палитра */
    --primary-theme-color: #FF0070;
    --primary-theme-color-rgb: 255 0 112;
    --title-theme-color: #DB00FF;
    --common-text-color: #F1B2CE;
    --secondary-theme-color: #000028;

    /* Задник */
    --background-image: url(../images/cover-image-dark.png);
    --background-color: var(--secondary-theme-color);

    /* Общие настройки страницы */
    --common-padding: 20px;
    --common-gap: 60px;

    /* Титульные подстраницы */
    --title-screen-min-block-size: 768px;

    /* Декоративный элемент REC */
    --rec-decoration-display: flex;

    /* Настройки элементов меню */
    --header__menu-align-self: none;
    --header__menu-list-flex-direction: row;
    --header__menu-list-align-items: center;

    --menu-element-color: var(--primary-theme-color);
    --menu-element-color-hover: rgb(var(--primary-theme-color-rgb) / 0.4);

    /* Настройки главного заголовка */
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --header__title-position: relative;
    --header__title-left: calc(var(--common-padding) * -1);

    /* Настройки эпиграфа */
    --header__epigraph-inline-size: 50%;

    /* Настройки заголовков статей */
    --article-font-color: var(--secondary-theme-color);

    /* Настройки main части */
    --main-gap: 80px;

    /* Настройки разделов основной части */
    --main__section-grid-template-columns: 1fr 1fr 1fr;

    --section__question-side-grid-column: span 1;
    --section__question-side-grid-template-columns: subgrid;
    --section__article-side-grid-column: span 2;
    --section__article-side-grid-template-columns: none;

    --section__question-top-grid-column: span 3;
    --section__question-top-grid-template-columns: subgrid;
    --section__article-top-grid-column: span 3;
    --section__article-top-grid-template-columns: subgrid;

    /* Настройки галереи */
    --section__gallery-grid-column: span 3;
    --gallery__image-wide-grid-column: span 2;
    --gallery__image-tall-grid-column: span 2;

    /* Настройки инвертированных заголовков */
    --article-title-inverted-color: var(--primary-theme-color);

    /* Настройки статей */
    --article-main-color: var(--common-text-color);
}